<div class="container mt-4">

  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Trending Games</h2>

    <div class="btn-group">
      <button class="btn btn-outline-primary"
              [class.active]="selectedPeriod === 30"
              (click)="changePeriod(30)">
        Last 30 days
      </button>

      <button class="btn btn-outline-primary"
              [class.active]="selectedPeriod === 90"
              (click)="changePeriod(90)">
        Last 90 days
      </button>
    </div>
  </div>

  <div class="game-grid">
    @for (game of games; track $index) {
      <div class="game-card" [routerLink]="['/game', game.id]">
        <div class="image-wrapper">
          <img [src]="game.background_image" />
          <div class="overlay"></div>
          <div class="rating-badge">
            {{ game.metacritic || "**" }}
          </div>
          <div class="platforms">
            @if (game.parent_platforms?.some(p => p.platform.name === 'PC')) {
              <i class="bi bi-pc-display"></i>
            }
            @if (game.parent_platforms?.some(p => p.platform.name === 'PlayStation')) {
              <i class="bi bi-playstation"></i>
            }
            @if (game.parent_platforms?.some(p => p.platform.name === 'Xbox')) {
              <i class="bi bi-xbox"></i>
            }
            @if (game.parent_platforms?.some(p => p.platform.name === 'Nintendo')) {
              <i class="bi bi-nintendo-switch"></i>
            }
            @if (game.parent_platforms?.some(p => p.platform.id === 3)) {
              <i class="bi bi-apple"></i>
            }
            @if (game.parent_platforms?.some(p => p.platform.name === 'Android')) {
              <i class="bi bi-android2"></i>
            }
          </div>
        </div>
        <div class="info">
          <h5 class="title">{{ game.name }}</h5>
          <div class="meta">
            <span>⭐ {{ game.rating }}</span>
            <span><i class="bi bi-calendar3"></i> {{ game.released }}</span>
          </div>
          <div class="genres">
            @for (genre of game.genres; track $index) {
              <span class="genre">{{ genre.name }}</span>
            }
          </div>
        </div>
      </div>
    }
  </div>

</div>