.custom-alert {
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 250px;
  z-index: 9999;
  border-radius: 12px;
  padding: 15px;
  font-weight: 500;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.success {
  background-color: #d1e7dd !important;
  color: #0f5132;
}

.error {
  background-color: #f8d7da !important;
  color: #842029;
}

.info {
  background-color: #cff4fc !important;
  color: #055160;
}